# EDITORCONFIG file for DRNSF
root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{c,h,cc,hh,py,cmake}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[CMakeLists.txt]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
